{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
  </head>
  <body></body>
</html>
<main>
  <div>
    <h1>My Lists</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Number of items</th>
      </tr>
      {% for item in lists%}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.created_on}}</td>
      </tr>
     {% endfor %}
    </table>
  </div>
</main>
